@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.w-h-full {
		@apply h-full w-full;
	}
	.center-center {
		@apply flex items-center justify-center;
	}
	.evenly-center {
		@apply flex items-center justify-evenly;
	}
	.center-start {
		@apply flex items-start justify-center;
	}
	.evenly-start {
		@apply flex items-start justify-evenly;
	}
	.start-start {
		@apply flex items-start justify-start;
	}
	.between-center {
		@apply flex items-center justify-between;
	}
	.between-start {
		@apply flex items-start justify-between;
	}
	.around-center {
		@apply flex items-center justify-around;
	}
	.start-center {
		@apply flex items-center justify-start;
	}
	.end-center {
		@apply flex items-center justify-end;
	}
	.center-end {
		@apply flex items-end justify-center;
	}
	.hoveer {
		@apply transform-gpu transition-transform duration-300 ease-in-out hover:scale-110;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*scroll-snap-type: y;*/
	scroll-behavior: smooth;
	overflow-x: hidden;
}

section,
footer {
	scroll-snap-align: center;
}

body {
	background-color: #f2f2f2;
}

.border-gradient::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: linear-gradient(to right, #f2f2f2, #08b3ce, #f2f2f2);
}

.title-home {
	text-shadow:
		1px 0 0 #a8a8a8,
		-1px 0 0 #a8a8a8,
		0 1px 0 #a8a8a8,
		0 -1px 0 #a8a8a8;
}

.square {
	width: 200px;
	height: 200px;
	background-color: #000;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.header-blur {
	background: linear-gradient(#f2f2f2, transparent);
	backdrop-filter: blur(2px);
}

.menu-blur {
	backdrop-filter: blur(10px) !important;
}

.animate-scale {
	animation: scale 10s infinite;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
